/*
Import global settings
*/
@import 'settings';

/*
Manual Resets
*/
body, html {
  @extend .bg-black;
  @extend .text-white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline-color: lightgray;
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}

/*
Dimension classes
*/
.container {
  min-height: calc(100vh - #{$footer-mobile-height});
}

/*
Icons
*/

.HamburgerIcon {
  
  &__container {
    width: spacing(7);
    height: spacing(7);
  }
}

.SocialIcon {

  &__container {
    width: spacing(6);
    height: spacing(6);
  }
}


/*
Markdown styling
*/

.MarkdownBlock {

  &__markdown {
    @extend .text-sm;
    @extend .line-height-lg;
    @extend .w100;
    
    img { 
      @extend .mx-auto;
      @extend .py1;
      @extend .block;
      @extend .w100;
    }

    p {
      @extend .py2;
    }

    a { 
      text-decoration: underline;
    }

    h3 {
      @extend .text-md;
    }

    h2 {
      @extend .text-lg;
    }

    h1 {
      @extend .text-xl;
    }
  }
}
