$transition-duration: 0.3s;
$transition-duration-short: 0.15s;
$transition-duration-medium: 0.75s;
$transition-duration-long: 1.5s;
$transition-easing: cubic-bezier(0.25, 0.2, 0, 1);
$transition: $transition-duration $transition-easing;
$transition-medium: $transition-duration-medium $transition-easing;
$transition-long: $transition-duration-long $transition-easing;

.transition {
  transition: $transition;
}

.transition-slide-up-down {
  opacity: 0;
  transform: translate3d(0, spacing(4), 0);
  animation-duration: $transition-duration-medium;
  pointer-events: none;

  &--active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, spacing(4), 0);
  }

  100% {
    opacity: 1;
    transform: transform3d(0, 0, 0);
  }
}

.transition-slide-up {
  animation: slide-up $transition;
}
